@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
      font-size: 15px;
      font-weight:500 !important;
      min-width: 1440px;
      max-width: 1440px;
      margin: auto;
}

.bg-primary{
  background: rgba(107, 70, 193, 1)!important;
}

.bg-dark{
  background: #1F1C27!important;
}

.h20{
  height: 20px;
}
.mb15{
  margin-bottom: 15px;
}

.pt15{
  padding: 15px;
}

.text-original{
  font-size: 14px;
}

.text-primary {
    color: rgba(107, 70, 193, 1)!important;
}

.btn-send-email{
  width: 45px;
  height: 45px;
}

.btn-cat{
  border-color:#D6D2DF;
  padding: 7px, 5px, 7px, 10px;
  border-radius: 8px;
  border: 1px;
  background: #F9F6FF;
}

.btn-primary {
    color: #fff;    
    background-color: rgba(107, 70, 193, 1);
    border-color: rgba(107, 70, 193, 1);
}


.btn-course-feature{
  /* width: Hug (215px);
  height: Fixed (40px); */
  padding: 6px, 20px, 6px, 20px;
  border-radius: 8px;
  gap: 5px;

}

.btn-check:focus+.btn-primary, .btn-primary:focus,.btn-primary:hover {
    color: #fff;
    background-color: rgb(125 97 189);
    border-color: rgb(102, 65, 188);
}

.search-field-icon{
  background: rgba(249, 246, 255, 1);
 border-right: unset;
}
.search-field{
  background: rgba(249, 246, 255, 1);
  border-left: unset;
}

li>a.active{
  color: rgba(107, 70, 193, 1) !important;
  border-bottom: 3px solid rgba(107, 70, 193, 1);
}

header{
  padding:0 2rem;
}

.rounded{
  border-radius: 8px!important;
}

.card-img, .card-img-top{
  border-radius: 6px;
}

p{
  font-family: Inter;
  font-size: 15px;
  font-weight: 400; 
  line-height: 25px;
  letter-spacing: 0em;
}

.hero{
  background-color: rgba(107, 70, 193, 1);
}
.hero-search-icon{
  border-right: unset;
}
.hero-search{
  border-left: unset;
  border-right: unset;
}

.hero-search-btn{
  border-right: unset;  
}

.hero-img{
  background: url(../zengit/Headline.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-semi-light{
  background: rgba(249, 246, 255, 1);
}
.border-semi-light{
  border-color: rgba(184, 184, 184, 1);
  height: 4.2rem;
}

.bullet{
  width: 64px;
  height: 64px;
  margin-right: 4px;
}

.gap-20{
  gap:20px;
}

h1{
  /* 36 */
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.01em;
  text-align: left;
}

h2{
  /* 24px */
  font-size: 1.5rem; 
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
}

h3{
  /* 20px */
font-size: 1.25rem;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
}

h4{
  /* 20px */
font-size: 1.25rem;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
}

.landing-rate{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: .5rem;
}

.text-white{
  color:rgba(255, 255, 255, 1);
}
.text-semi-white{
  color:rgba(214, 210, 223, 1);
}

.cs-none{
  padding: 1.875rem;
  border-width: 1px solid;
  border-radius: 8px!important;
  flex: 1 1 0px!important;
}

.cs-box{
  padding: 3.5rem 1.5rem;
  background: linear-gradient(to right, #6B46C1 45%, rgba(247,245,252,0)) right top / cover no-repeat, url(../zengit/img_cta.png);
  background-repeat: no-repeat;
  background-position: right top;
  border-radius: 8px!important;
  flex: 1 1 0px!important;
}

.review-img{
  width: 55px;
  height: 55px;
  border-radius: 100px;
}

.course-img{
  width:50px;
  height: 50px;
  mix-blend-mode: luminosity;
}

.btn-transparent-link{
  padding: 6px, 20px, 6px, 20px!important;
  border-radius: 8px!important;
  border-width: 1px!important;
  border-color: #FFFFFF!important;
}

.form-range::-webkit-slider-thumb{
  background:rgba(107, 70, 193, 1) ;
  border-width: 2px;
  border-style: solid;
  border-color: #E1DAF3;
  width: 16px;
  height: 16px;
}
@media only screen and (min-width: 768px) {
  /* .nav{
    width: 45%;
  } */
}